---
import SafeAIImageSite from "../components/SafeAIImageSite.tsx";
---

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Safe AI Image Playground</title>
  </head>
  <body>
    <SafeAIImageSite client:load />
  </body>
</html>
